extends layout

block content
  h1= title
  if user
    h1 WELCOME BACK #{user.name}
    a(href="/home/messageboard") Messageboard <br>
    a(href="/home/joinClub") Become a member <br>
    a(href="/home/admin") Become an admin <br>
    a(href="/log-out") LOG OUT
  else
    h2(class="warningMessage")= message
    form(action="/log-in" method="POST" class="loginForm")
      label(for="username") Username (email)
      input(name="username" placeholder="username" type="text") 
      label(for="password") Password 
      input(name="password" type="password")
      button Log In
    h2 Don't have an account?
    a(href="/home/signUp") Sign up